<div class="container">

<div class="row">
	

	

	
 	



<% @Blogs.each do |b| %>
<div class="col-md-4" id="card_margin">
 <div class="card" style="width: 18rem">
 	
 	<div class="card-body">
 		<h5 class="card-title">
 			<%= b.title %>	
 		</h5>
 		<p class="card-text">
 			<%= b.content %>
 		</p>
 			
 		<%= link_to "View", blog_path(b), class: 'btn btn-outline-primary' %>	
 		<%= link_to "Edit", edit_blog_path(b), class: 'btn btn-outline-primary' %>
         <%= link_to "Delete", blog_path(b), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?'} %>

 	</div>
 </div>





 
 </div>
     <% end %>

  
     
   
     </div>
</div>